.btn {
  border-radius: 0;
  background-color: white;
  border: 0;
  color: #1273E9;
  min-width: 234px;
  position: relative;
  font-weight: bold;
  font-size: 14px;
  padding-right: 52px;

  &:after {
    content: '';
    position: absolute;
    background-image: url('/static/images/btn-shadow.png');
    height: 6px;
    width: 183px;
    bottom: 0;
    left: 0;
    width: 100%;
    background-position: bottom center;
    background-repeat: no-repeat;
    margin-bottom: -7px;
  }
  &:before {
    font-family: 'FontAwesome';
    content: "\f178";
    position: absolute;
    right: 16px;
    top: 0;
    font-size: 24px;
  }
  &.btn-blue {
    background-color: #1273E9;
    color: white;
  }
}