<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1>Register</h1>

    <div class="well">
      <form role="form" ng-submit="vm.register()">
        <div class="form-group">
          <label for="register__email">Email</label>
          <input type="email" class="form-control" id="register__email" ng-model="vm.email" placeholder="ex. john@notgoogle.com" />
        </div>

        <div class="form-group">
          <label for="register__password">Password</label>
          <input type="password" class="form-control" id="register__password" ng-model="vm.password" placeholder="ex. thisisnotgoogleplus" />
        </div>

        <div class="form-group">
          <div class="">
            <label for="">User type</label>
          </div>
          <div>
          <label for="user_type">
            Employee
            <input type="radio" class="" id="user_type" ng-model="vm.userType" value="0" />
          </label>

          </div>
          <div>
            <label for="user_type2">
              Employer
              <input type="radio" class="" id="user_type2" ng-model="vm.userType" value="1" />
            </label>
          </div>
          <div>
            <label for="user_type3">
              Admin
              <input type="radio" class="" id="user_type3" ng-model="vm.userType" value="2" />
            </label>
          </div>

        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>